<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gogoal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APP_Fb"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>
        <activity android:name=".com.Moviedetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".com.Seriesdetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.Categorychoice"/>
        <activity android:name=".com.Series_ca_detail" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".com.Readmore"/>
        <activity android:name=".com.Aboutus"/>
        <activity android:name=".com.Mydownloadmanager"/>
        <activity android:name=".com.webviewdownloader"/>
        <activity android:name=".com.FakeDialog"/>


        <service android:name=".com.utils.DownloadService"/>



        <service android:name=".com.utils.LocalService"/>
        <receiver
            android:name=".com.receiver.BemobiDownloadReceiver"
            android:exported="true">
            <intent-filter >
                <action android:name="br.com.bemobi.medescope.ACTION_BROADCAST_FINISH_WITH_SUCCESS"/>
                <action android:name="br.com.bemobi.medescope.ACTION_BROADCAST_FINISH_WITH_ERROR"/>
            </intent-filter>

        </receiver>


        <activity android:name=".com.Help"/>



    </application>

</manifest>