<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gogoal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".myfb.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myfb.Moviedetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".myfb.Seriesdetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".myfb.Categorychoice"/>
        <activity android:name=".myfb.Series_ca_detail" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myfb.Readmore"/>
        <activity android:name=".myfb.Aboutus"/>
        <activity android:name=".myfb.Mydownloadmanager"/>
        <activity android:name=".myfb.webviewdownloader"/>
        <activity android:name=".myfb.FakeDialog"/>


        <service android:name=".myfb.utils.DownloadService"/>



        <service android:name=".myfb.utils.LocalService"/>
        <receiver
            android:name=".myfb.receiver.BemobiDownloadReceiver"
            android:exported="true">
            <intent-filter >
                <action android:name="br.com.bemobi.medescope.ACTION_BROADCAST_FINISH_WITH_SUCCESS"/>
                <action android:name="br.com.bemobi.medescope.ACTION_BROADCAST_FINISH_WITH_ERROR"/>
            </intent-filter>

        </receiver>


        <activity android:name=".myfb.Help"/>



    </application>

</manifest>